<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="ninja.techved.com_utilities.Reporting"/>
</listeners>

  <test thread-count="5" name="Test">
 
  <parameter name = "Browser_name" value ="chrome"/> 
 
    <classes>
    
     <!--  <class name="ninja.techved.com_testCases.BaseClass"/> -->
     <class name="ninja.techved.com_testCases.TC2_Login"/>
     
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
